{% extends "base.html" %}

{% block title %} Asteroids D: {% endblock %}
  
{% block content %}

<h1>Beautiful asteroids that could kill us</h1>

    <ul class="collection">
    {% for asteroid in asteroids %}
        {% if asteroid.error %}
        <li class="collection-item avatar">
            <i class="material-icons circle red">info_outline</i>
            <span class="title">Error</span>
            <p>{{asteroid.error}}
            </p>
            <a href="{{ asteroid.url }}" class="secondary-content" target="_blank">Read more... </a>
        </li>
        {%else%}
        <li class="collection-item avatar">
            <i class="material-icons circle blue">my_location</i>
            <span class="title">{{ asteroid.name}}</span>
            <p>Fecha: {{ asteroid.date}}<br>
            Diametro mínimo: {{ asteroid.diameter_min }} km<br>
            Diametro máximo: {{ asteroid.diameter_max }} km<br>
            ¿Es peligroso?:{% if dangerous %} Sí {% else %} No {% endif %}
            </p>
            <a href="{{ asteroid.url }}" class="secondary-content" target="_blank">Read more... </a>
        </li>
        {%endif%}
    {% endfor %}
    </ul>

{% endblock %}